Assignment 1

In [7]:
'''
Q1.Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
'''
a="prudhvish"
l=[4,5,6,6,8]
f=4.5
t=(4,5,6,7)

In [16]:
'''
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
'''
var1=' '
print('data type is',type(var1))
var2 = '[ DS , ML , Python]'
print('data type is',type(var2))
var3=['DS','ML','Python']
print ('data type is',type(var3))
var4=1.0 
print('data type is',type(var4))

data type is <class 'str'>
data type is <class 'str'>
data type is <class 'list'>
data type is <class 'float'>

In [18]:
'''
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''
print(10/3) #returns answer 
print(10%3) #returns remainder
print(10//3) #returns  quioent
print(10**3)#returns exponential values

3.3333333333333335
1
3
1000

In [24]:
''' 
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''
l=[4,5,6,9,3,"dd","51",True,9,10]
for i in range (len(l)):
    print(l[i],':',type(l[i]))

4 : <class 'int'>
5 : <class 'int'>
6 : <class 'int'>
9 : <class 'int'>
3 : <class 'int'>
dd : <class 'str'>
51 : <class 'str'>
True : <class 'bool'>
9 : <class 'int'>
10 : <class 'int'>

In [26]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''
A=int(input())
B=int(input())
c=0
while(A>=B):
    A=A-B
    c=c+1
if(A==0):
    print('Yes A is divisible by B and it divides',c,'times')
else:
    print("No")

 10
 3

No

In [27]:
'''
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''

int_list = [7, 12, 9, 4, 27, 15, 6, 22, 18, 30, 8, 13, 5, 21, 36, 17, 11, 20, 14, 25, 33, 16, 10, 3, 28]

for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

7 is not divisible by 3
12 is divisible by 3
9 is divisible by 3
4 is not divisible by 3
27 is divisible by 3
15 is divisible by 3
6 is divisible by 3
22 is not divisible by 3
18 is divisible by 3
30 is divisible by 3
8 is not divisible by 3
13 is not divisible by 3
5 is not divisible by 3
21 is divisible by 3
36 is divisible by 3
17 is not divisible by 3
11 is not divisible by 3
20 is not divisible by 3
14 is not divisible by 3
25 is not divisible by 3
33 is divisible by 3
16 is not divisible by 3
10 is not divisible by 3
3 is divisible by 3
28 is not divisible by 3

In [28]:
'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''
#Mutable means we can modify the object(datatype) like append,delete,change index
#Immutable means we cant modify the object but we can only create new object and assigne to variable

#mutable datatype
a=[4,5,6,7,8]
a.append(4)
#immutable datatype
b=(4,5,6,8,9)
b.append(5)#error will race

AttributeError: 'tuple' object has no attribute 'append'